.instalations {
    
    &_list {
        list-style-type:circle;
   
    }
    &_element {
        font-family: 'Roboto', serif;
        color: black;
        font-size: 13px;
        text-align: left;
        padding-left: 32px;
        line-height: 25px;
        font-weight: 500;
        letter-spacing: 1px;
      //  &::before {
            //content: "\2022";
            //color: #1D70B7;
           // font-weight: bold;
           // display: inline-block; ;
           // margin-right: 70px;
           // font-size: 30px;
       // }

    }
    &_title {
        color: #1a406e;
        font-size: 20px;
        margin-top: 72px;
        margin-bottom: 40px;
        letter-spacing: 1px;

    }

}


.last {
   padding-bottom: 37px;
    
}

.first {
    text-align: left;
}




@media all and (max-width: 999px) {
    .instalations {
        width: 25%;
    
        &_list {
            list-style-type:circle;
       
        }
        &_element {
            font-family: 'Roboto', serif;
            color: black;
            font-size: 13px;
            text-align: left;
            padding-left: 32px;
            line-height: 25px;
            font-weight: 500;
            letter-spacing: 1px;
          //  &::before {
                //content: "\2022";
                //color: #1D70B7;
               // font-weight: bold;
               // display: inline-block; ;
               // margin-right: 70px;
               // font-size: 30px;
           // }
    
        }
        &_title {
            color: #1a406e;
            font-size: 20px;
            margin-top: 72px;
            margin-bottom: 40px;
            letter-spacing: 1px;
    
        }
    
    }
    
    
    .last {
       padding-bottom: 37px;
        
    }
    
    .first {
        text-align: left;
    }
    
    
  }




