.consultations {
    font-family: 'Roboto', serif;
    color: black;
    text-align: left;
    padding-left: 21px;
    line-height: 25px;
    font-weight: 500;
    margin-top: 24px;
       &_title {
           color: #1a406e;
           font-size: 15px;
           letter-spacing: 1px;
       }
       &_description {
           color: black;
           font-size: 13px;
           text-indent: 10px;
           letter-spacing: 1px;
           padding-right: 64px;
       }
       &_image {
           height: 500px;
           width: 100%;
           background-image: url('../../../assets/audyt.png');
           background-position: center;
           background-size: contain;
           background-repeat: no-repeat;
       }

  }

  .consultations--first {
      margin-top: 60px;
  }