.clients {
  display: flex;
  align-items: center;
  position: relative;
  padding: 100px 0;
  min-height: calc(100vh - 100px);
  max-width: 100%;
  background-image: url('../../assets/Building2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(23, 23, 23, 0.8);
    z-index: -1;
  }

  &__textarea {
    background: #ffffff;
    border-radius: 10px;
    padding: 30px 50px;
    color: #333333;

    @media (max-width: 575.98px) {
      padding: 30px 20px;
    }
  }

  &__title {
    margin: 0;
    color: #0470b0;
    border-bottom: 1px solid rgba(grey, 0.3);
    padding-bottom: 15px;
    margin-bottom: 30px;
  }

  &__paragraph {
    font-family: 'Roboto', serif;
  }

  &__map {
    margin-top: 10px;
  }
}
