.contact {
  display: flex;
  align-items: center;
  position: relative;
  padding: 100px 0;
  min-height: calc(100vh - 100px);
  max-width: 100%;
  background-image: url('../../assets/Building8.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(23, 23, 23, 0.8);
    z-index: -1;
  }

  &__textarea {
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    color: #333333;

    div {
      padding: 30px;
    }
  }

  &__form {
    background: #0470b0;

    h1 {
      color: #ffffff;
      margin-top: 0;
      margin-bottom: 30px;

      span {
        display: block;
        font-size: 0.5em;
      }
    }

    input, textarea {
      width: 100%;
      padding: 15px 20px;
      margin-bottom: 15px;
      border-radius: 5px;
      border: none;
      font-family: 'Roboto', serif;
    }

    button {
      border-radius: 5px;
      border: none;
      color: #333333;
      padding: 10px 25px;
      cursor: pointer;
    }
  }

  &__info {
    color: #ffffff;
  }

  &__adress {

  }

  &__title {
    margin: 0;
    color: #0470b0;
    border-bottom: 1px solid rgba(grey, 0.3);
    padding-bottom: 15px;
    margin-bottom: 30px;
  }

  &__paragraph {
    font-family: 'Roboto', serif;
  }
}
