.our-services {
  display: flex;
  align-items: center;
  position: relative;
  padding: 100px 0;
  width: 100%;
  min-height: calc(100vh - 100px);
  background-image: url('../../assets/Building1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(23, 23, 23, 0.8);
    z-index: -1;
  }

  .MuiTab-wrapper {
    color: #808080;
    font-size: 11px;
  }

  .MuiTab-root {
    max-width: 200px;
  }

  &__textarea {
    background: #ffffff;
    border-radius: 10px;
    padding: 30px 50px;
    color: #333333;

    @media (max-width: 575.98px) {
      padding: 30px 20px;
    }
  }

  &__title {
    margin: 0;
    color: #0470b0;
    border-bottom: 1px solid rgba(grey, 0.3);
    padding-bottom: 15px;
    margin-bottom: 30px;
  }

  .content {
    &__title {
      font-family: 'Roboto', serif;
      font-size: 20px;
      color: #333333;
    }

    &__unordered-list {
      color: #333333;
    }

    &__ordered-list {
      color: #333333;
    }

    &__paragraph {
      color: #333333;
    }

    &__section {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.3);

      &:nth-last-of-type(1) {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }
    }

    &__image {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 600px;
    }
  }
}
